{% extends 'base.html' %}


{% block content %}

{% include 'navbar.html' %}

<div class="container">

<div class="jumbotron">
  <h1>Simple Inheritance</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <span class="text-info">Code:</span><hr/>
        <code>
        <pre>
class First:
    def hello(self):
        print("HELLO First")


class Second(First):
    def hi(self):
        print("HELLO Second")


o = Second()
o.hello()
o.hi()


print(isinstance(o,Second))
print(issubclass(Second,First))



        </pre>
        </code>
    </div>

    <div class="col-md-6">
    <span class="text-info">Output:</span><hr/>
    <code>
        <pre>
HELLO First
HELLO Second
True
True
        </pre>
    </code>
    </div>
</div>



</div>

{% endblock %}
